.primary-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height:100vh;
    background-color:#181a1d ;
    padding:10px;
    border-right:1px solid #343A40;
}
.nav-menus{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.nav-imgs{
    margin-top:10px;
    margin-bottom:15px;
}