.page-contents-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    font-family:sans-serif;
}
.no-mail-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.bg-light{
    background-color: #FAFAFA;
    color:black;
}
.bg-dark{
    background-color: #000000;
    color:white;
}
.no-msg-text{
    font-family: "DM Sans";
    font-size: 18px;
    color: #FFFFFF;
}
.no-msg-desc{
    font-family: "Open Sans";
    font-size: 16px;
    color: #9E9E9E;
}
.dark-text{
    color:#000000;
}
.inbox-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width:100%;
    padding-left:10px;
    height: inherit;
    border:1px solid #9E9E9E;
}
