.first-section{
    width:20%;
    height: 100%;
    padding:15px;
    border-right:1px solid #9E9E9E;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.all-inbox-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.all-inbox-div{
    display: flex;
    align-items: center;
}
.all-inbox-text{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    color:#4285F4;
}
.reset-btn{
    display: flex;
    align-items: center;
    padding:6px;
    border:0;
    background-color: #25262B;
    border-radius:2px;
    margin-right:8px;
    outline: none;
    cursor: pointer;
}
.reset-btn-light{
    background-color: #edeff7;
}
.text-dark{
    color:#d1d0d0;
}
.text-light{
    color:#23272C;
}
.span-dark{
    color:#838181;
    font-size: 15px;
}
.span-light{
    color:#101113;
    font-size:15px;
    font-weight:600;
}
.search-section{
    align-self: flex-start;
    outline:none;
    width:100%;
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.search-dark{
    background-color: #23272C;
    border:1px solid #9E9E9E;
    color:#9E9E9E;
}
.search-light{
    background-color: #f8f7f7;
    border:1px solid #b0afaf;
    color:#23272C
}
.search-input{
    background-color:transparent;
    outline: none;
    border:0;
}
.inbox-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:90%;
}
.replies-count{
    background-color: #414248;
    color:#5C7CFA;
    border-radius:50%;
    font-size: 15px;
    padding:5px;
}
.replies-count-light{
    background-color: #b2b3b7;
}
.newest{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.styling-line{
    color:#d1d0d0;
    width:100%;
}
.msg-glimpse-list{
    list-style-type: none;
    padding-left:0;
    margin-top:0;
}
.msg-glimpse{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width:100%;
    cursor: pointer;
    margin: 0; 
}
.mail-from{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mail-from-name{
    font-family: sans-serif;
    font-size: 12px;
    color:#fdf9f9;
}
.mail-from-name-light{
    color:#202020;
    font-size: 14px;
    font-weight: 600;
}
.mail-text{
    font-size: 13px;
    color:#9E9E9E;
}
.mail-text-light{
    color:#202020;
}
.mail-flags{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flag-btn{
    display: flex;
    align-items: center;
    padding:5px;
    justify-content: space-around;
    font-size: 12px;
    border:1px solid #4f5158;
    background-color: #2a2b2f;
    border-radius:12px;
}
.flag-btn-light{
    border:1px solid #bebebe;
    background-color: #e6e6e6;
}
.int{
    color:#23a66d;
}